__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
.DS_Store
*.db
*.sqlite
*.sqlite3
uploads/
.idea/
.vscode/
*.pcap
*.exe
*.dll
*.pak
*.dat
*.msg
Cursor.exe
Cursor.VisualElementsManifest.xml
LICENSES.chromium.html
_/
locales/
policies/
resources/
tools/
chrome_*.pak
libEGL.dll
libGLESv2.dll
d3dcompiler_47.dll
dxcompiler.dll
dxil.dll
ffmpeg.dll
icudtl.dat
snapshot_blob.bin
v8_context_snapshot.bin
vk_swiftshader.dll
vk_swiftshader_icd.json
vulkan-1.dll
unins000.*